.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('../../../index/images/icons.png');}

.collect {width:25px; height:24px; background-position: -463px -161px}
.dh-c {width:65px; height:65px; background-position: -360px -352px}
.dh {width:65px; height:65px; background-position: -427px -356px}
.gifts-bg {width:230px; height:330px; background-position: -2px -2px}
.hello {width:48px; height:22px; background-position: -410px -261px}
.icon-more {width:22px; height:22px; background-position: -178px -334px}
.lbclose {width:56px; height:56px; background-position: -178px -423px}
.left-s {width:22px; height:22px; background-position: -484px -265px}
.left-z {width:22px; height:22px; background-position: -460px -265px}
.likes-s {width:18px; height:17px; background-position: -492px -116px}
.likes {width:18px; height:17px; background-position: -490px -135px}
.login-close {width:28px; height:28px; background-position: -463px -82px}
.next-btn {width:8px; height:15px; background-position: -493px -99px}
.noplay {width:227px; height:220px; background-position: -234px -2px}
.not-collect {width:25px; height:24px; background-position: -463px -135px}
.pre-btn {width:8px; height:15px; background-position: -493px -82px}
.qq-c {width:65px; height:65px; background-position: -226px -343px}
.qq {width:65px; height:65px; background-position: -293px -343px}
.refresh-icon {width:22px; height:22px; background-position: -202px -334px}
.sdw-gzh {width:174px; height:174px; background-position: -2px -334px}
.sdw-logo-small {width:51px; height:35px; background-position: -410px -224px}
.sdw-logo {width:174px; height:50px; background-position: -234px -224px}
.tool-ewm {width:42px; height:42px; background-position: -463px -2px}
.tool-tops {width:42px; height:34px; background-position: -463px -46px}
.weibo-c {width:65px; height:65px; background-position: -368px -285px}
.weibo {width:65px; height:65px; background-position: -435px -289px}
.weixin-c {width:65px; height:65px; background-position: -234px -276px}
.weixin {width:65px; height:65px; background-position: -301px -276px}
.wx-icons {width:27px; height:21px; background-position: -463px -112px}
.xing1 {width:24px; height:24px; background-position: -463px -239px}
.xing2 {width:24px; height:24px; background-position: -463px -187px}
.xing3 {width:24px; height:24px; background-position: -463px -213px}