@import "../reset.scss";

@function torem($px) {
  @return $px / 32px * 1rem;
}

@function topx($px) {
  @return $px / 32px * 16px;
}

[v-cloak] {
  display: none;
}

.md-1-cont {
  .g-list:last-child {
    margin-right: torem(30px);
  }

  .thematic-list-item:last-child {
    margin-right: torem(30px);
  }
}

.g-list {
  display: inline-block;
  margin-left: torem(30px);
}

.g-list:last-child {
  margin-right: torem(30px);
}

.game-list-container {
  width: torem(690px);
  margin: 0 auto;
  margin-top: torem(18px);
  position: relative;
  padding-bottom: torem(18px);
}

//.game-list-container:after {
//  content: '';
//  width: 100%;
//  height: 1px;
//  background: #414a58;
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  transform: scale(1, 0.5);
//}

.no-server {
  color: #6c7583;
  text-align: center;
  font-size: torem(26px);
  height: torem(70px);
  line-height: torem(70px);
  margin-top: torem(40px);
}

.g-l-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

//.server-item-container {
//  height: torem(120px);
//  padding: torem(18px) 0;
//  position: relative;
//
//  .s-b-icon {
//    width: torem(120px);
//    height: torem(120px);
//    border-radius: 12px;
//    display: block;
//    position: absolute;
//    top: torem(18px);
//    left: 0;
//  }
//
//  .server-g-name {
//    color: #fff;
//  }
//
//  .server-g-name {
//    height: torem(40px);
//    line-height: torem(41px);
//    font-size: torem(28px);
//    width: torem(260px);
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    position: absolute;
//    top: torem(35px);
//    left: torem(150px);
//  }
//
//  .server-g-info {
//    height: torem(40px);
//    line-height: torem(41px);
//    font-size: torem(24px);
//    width: torem(260px);
//    overflow: hidden;
//    color: #fe8731;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    position: absolute;
//    bottom: torem(35px);
//    left: torem(150px);
//  }
//
//  .server-time {
//    color: #6c7583;
//    height: torem(30px);
//    font-size: torem(20px);
//    position: absolute;
//    top: 50%;
//    right: torem(135px);
//    transform: translate3d(0, -50%, 0);
//  }
//
//}

.server-game-more {
  width: torem(120px);
  padding-right: torem(40px);
  height: torem(50px);
  line-height: torem(50px);
  margin: 0 auto;
  margin-top: torem(18px);
  font-size: torem(26px);
  text-align: center;
  color: #6c7583;
  position: relative;
}

.server-game-more:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: torem(50px);
  width: torem(40px);
  background-image: url("images/more2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: torem(11px) torem(18px);
}

.new-server-container-module {
  padding-top: 0 !important;
}

.game-sort-v2-cont {

  width: torem(690px);
  margin: 0 auto;
  height: torem(80px);
  line-height: torem(80px);
  text-align: center;
  display: block;
  position: relative;

  .nav-btn {
    width: 30%;
    display: inline-block;
    color: #6c7583;
    font-size: topx(28px);
    position: relative;
  }

  .nav-btn-select {
    color: #fff;
  }

  .nav-btn-select:before {
    content: '';

    width: torem(130px);
    height: torem(4px);
    border-radius: torem(2px);
    background: #23c9b6;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

}

.game-sort-v2-cont:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #414a58;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(1, 0.5);
}

#topBanner {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  max-height: 180px;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(40px);
  opacity: 0.8;
}

.sdw-copy-right {
  margin: torem(20px) 0;
  margin-top: torem(40px);
  width: 100%;
  font-size: 9px;
  line-height: 1.2;
  color: #6c7583;
  text-align: center;
}

#banners .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 88%;
  //height: torem(228px);
  border-radius: 4px;
  display: block;
  box-shadow: none;
  background-color: #dedede;
}

.top-user-info-container {
  width: 100%;
  height: torem(70px);
  padding: torem(20px) 0;
}

.swiper-pagination {
  height: torem(30px);
  line-height: torem(30px);
  position: absolute;

  bottom: torem(8px);
  left: 0;
}

.banner-conatiner {
  width: 100%;
  height: torem(228px);
  overflow: hidden;
  //padding-bottom: torem(30px);
}

#bannercont {
  //overflow: hidden;
  width: 100%;
  height: torem(228px);
}

#bannercont .swiper-slide {
  background-position: center;
  background-size: cover;
  width: torem(670px);
  height: torem(228px);
  border-radius: 4px;
  display: block;
  box-shadow: none;
  background-color: #dedede;

}

//.recommend-container {
//  background: url("images/my-rec.png") 0 0 /100% 100%;
//  height: torem(72px);
//  padding: torem(24px) 0;
//  font-size: 0;
//  text-align: center;
//}
//
//.recommend-list2 {
//  text-align: center;
//  font-size: torem(22px);
//  line-height: torem(72px);
//  overflow: hidden;
//  color: #6c7583;
//  position: relative;
//  width: torem(72px);
//  height: torem(72px);
//  background: transparent;
//  border-radius: 8px;
//  vertical-align: top;
//  display: inline-block;
//  margin: 0 torem(2px);
//}
//
//.recommend-list {
//  overflow: hidden;
//  position: relative;
//
//  width: torem(72px);
//  height: torem(72px);
//  background: #ddd;
//  border-radius: 8px;
//
//  vertical-align: top;
//
//  display: inline-block;
//  margin: 0 torem(15px);
//
//  .recommend-cover {
//    width: 100%;
//    height: 100%;
//    display: block;
//    border-radius: 8px;
//  }
//
//}

.top-split-line {
  width: 100%;
  height: torem(20px);
  background: #21272f;
}

.my-avatar-v2-container {
  width: torem(70px);
  height: torem(70px);
  position: absolute;
  top: torem(20px);
  left: torem(30px);
  border-radius: 50%;
  background: url("images/phdavatar.png") 0 0 /100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}


.btn-list {
  text-align: right;
  height: torem(50px);
  line-height: torem(50px);

  margin-right: torem(30px) !important;
  //margin-top: torem(10px);

  .icons {
    display: inline-block;
    margin-left: torem(15px);
    position: relative;
    //float: right;
    width: torem(45px);
    height: torem(45px);
  }

}

.ewm-btn-v2 {

  width: torem(65px) !important;
  border: torem(10px) solid transparent;
  background-image: url("images/guanzhu.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.ewm-btn-v2-btn {
  border: torem(10px) solid transparent;
  background: url("images/more-btn.png") 0 0 /auto 100% no-repeat;
}

.download-app-btn {

  border: torem(10px) solid transparent;
  background: url("images/download-app.png") 0 0 /auto 100% no-repeat;
}

.checkin-btn-v2 {
  border: torem(10px) solid transparent;
  background-image: url("images/qd-icon.png");
  background-size: torem(40px) auto;
  background-repeat: no-repeat;
  background-position: center;
}

.search-btn-v2 {
  border: torem(10px) solid transparent;
  background-image: url("images/ic_search.png");
  background-size: torem(35px) auto;
  background-repeat: no-repeat;
  background-position: center;
}

.bind-phone-v2 {
  //width: torem(32px);
  //height: torem(44px);
  border: torem(10px) solid transparent;
  background-image: url("images/bind-phone.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.bind-phone-cc {
  margin-right: torem(30px) !important;
}

.ewm-v2-img {
  width: torem(629px);
  height: torem(936px);
  margin: 0 auto;
  //position: relative;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate3d(-50%, -50%, 0);
}

.b-c {
  width: torem(629px);
  height: torem(936px);
  position: relative;
}

.scale-enter-active {
  transition: transform .32s cubic-bezier(0.5, 1.65, .49, .63);
  transform: scale(1, 1);
}

.scale-enter {
  transform: scale(1.53, 1.63);
}

//.scale-leave {
//  transform: scale(1);
//}
//
//.fade-leave-active {
//  transform: scale(0.5, 1.3);
//}

.b-ewm-cont-v2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 9999999;
}

.qcode-conatiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.q-code-close {
  width: torem(55px);
  height: torem(55px);
  margin: 0 auto;
  margin-top: torem(60px);
  background: url(images/close.png) 0 0 /100% 100%;
}

$toolColor: rgba(255, 255, 255, .8);

.bind-phone-tips {
  width: torem(230px);
  z-index: 999999;
  border-radius: torem(10px);
  background: $toolColor;
  position: absolute;
  left: 90%;
  transform: translate(-50%, 0);
  top: torem(85px);
  padding: torem(20px) torem(10px);
  color: #000;
  text-align: center;
  font-size: torem(24px);
}

.bind-phone-tips:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $toolColor;
}

.conts {
  height: torem(40px);
  line-height: torem(42px);
  padding: 0 torem(15px) 0 torem(35px);
  border-radius: torem(20px);
  background: rgba(0, 0, 0, .34);
  display: inline-block;
  color: #ff9000;
  font-size: torem(26px);
  position: absolute;
  top: torem(35px);

  left: torem(130px);
}

.conts:before {
  content: '';
  width: torem(40px);
  height: torem(40px);
  position: absolute;
  top: 0;
  left: torem(-15px);
  background-size: 100%;
  background-image: url('images/gold-icons.png');
}

.my-money {
  //width: torem(200px);
}

.scale-top-enter-active, .scale-top-leave-active {
  transition: opacity .5s
}

.scale-top-enter, .scale-top-leave-active {
  opacity: 0
}

@keyframes tada {
  from {
    transform: scale(1, 1) rotate(0deg);
  }

  10%, 20% {
    transform: scale(.9, .9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale(1.2, 1.2) rotate(3deg);
  }

  40%, 60%, 80% {
    transform: scale(1.2, 1.2) rotate(-3deg);
  }

  to {
    transform: scale(1, 1) rotate(0deg);
  }
}

.tada {
  //-webkit-animation-name: tada;
  animation: tada 1.2s infinite;
}

.game-list-item {
  text-align: center;
}

.scale32-enter {
  transform: translate3d(-50%, 150%, 0) scale(1);
  opacity: 0;;
}

.scale32-enter-active {

  opacity: 1;
}

.ios-desktop-container {
  max-width: 50%;
  min-width: 70%;
  padding: 1rem .5rem;
  border-radius: 4px;
  background: #fff;
  position: fixed;
  bottom: 1.2rem;
  left: 50%;
  z-index: 99999999;
  transform: translate3d(-50%, 0, 0) scale(1);
  color: #333;
  font-size: 16px;
  text-align: center;
}

.add-icon {
  width: 18px;
  height: 18px;
  display: inline-block !important;
}

.ios-desktop-container:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-top: 0.7rem solid #fff;
  position: absolute;
  bottom: -0.68rem;
  left: 50%;
  transform: translate(-50%, 0);
}

#sbmh {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
}

.saishi {
  width: torem(240px);
  height: torem(110px);
  background: url("images/saishi.png") 0 0 /100% 100% no-repeat;
}

.main-tabs {
  margin-top: torem(35px);
  margin-bottom: torem(25px);
  font-size: 0;
  height: torem(130px);
  text-align: center;
}

.m-icons {

  width: torem(90px);
  height: torem(98px);
  margin: 0 auto;
  display: block;
}

.m-icons[data-type*='dog'] {
  width: torem(100px);
  height: torem(100px);
}

.m-icons[data-type='dog-0'] {
  background-image: url("images/dog-ani.png");
  background-repeat: no-repeat;
  background-size: 1100% 100%;
  background-position: 80% 0;
}

// 需要动画实现
.m-icons[data-type='dog-1'] {
  background-image: url("images/dog-ani.png");
  background-repeat: no-repeat;
  background-size: 1100% 100%;
  animation: dogsAni steps(1) infinite 1.15s;
}

@keyframes dogsAni {

  0% {
    background-position: 0 0;
  }

  10% {
    background-position: 10% 0;
  }

  20% {
    background-position: 20% 0;
  }

  30% {
    background-position: 30% 0;
  }
  40% {
    background-position: 40% 0;
  }
  50% {
    background-position: 50% 0;
  }
  60% {
    background-position: 60% 0;
  }
  70% {
    background-position: 70% 0;
  }
  80% {
    background-position: 70% 0;
  }
  90% {
    background-position: 70% 0;
  }
  100% {
    background-position: 70% 0;
  }

}

.m-icons[data-type='dog-2'] {
  background-image: url("images/dog-ani.png");
  background-repeat: no-repeat;
  background-size: 1100% 100%;
  background-position: 90% 0;
}

.m-icons[data-type='dog-3'] {
  background-image: url("images/dog-ani.png");
  background-repeat: no-repeat;
  background-size: 1100% 100%;
  background-position: 100% 0;
}

.main-tabs-icon {
  margin: 0 torem(30px);
  width: torem(100px);
  display: inline-block;
}

.m-i-name {
  font-size: torem(26px);
  color: #fff;
  text-align: center;
}

.slider-nav-lists {
  width: 100%;
  height: torem(90px);
  position: relative;
}

.display-container {
  width: torem(660px);
  white-space: nowrap;
  height: torem(90px);
  position: relative;
  margin: 0 auto;
  //transition: .22s;
}

.slider-nav {
  width: 100%;
  background: #2b323d;
}

.slider-nav-normal {
  position: absolute;
  z-index: 99;
}

.slider-nav-normal:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #414a58;
  position: absolute;
  left: 0;
  bottom: 0;

  transform: scaleY(0.5);
}

.slider-nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  box-shadow: 0 0 20px #000;
}

.slider-nav-title {
  color: #fff;
  width: torem(660px);
  height: torem(90px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider-nav-title-more {
  height: auto !important;
  overflow: auto !important;
  white-space: normal !important;
  //box-sizing: border-box;
  //padding: 0 torem(60px) 0 torem(30px);
}

.display-container-more {
  height: auto !important;
  overflow: auto !important;
  width: torem(660px);
  position: relative;
  margin: 0 auto;
  transition: .22s;
}

.s-n-item {
  text-align: center;
  width: 25%;
  color: #6c7583;
  line-height: torem(90px);
  height: torem(90px);
  font-size: torem(28px);
  display: inline-block;
}

.s-n-item-sub {
  position: relative;
  display: inline-block;
  height: torem(90px);
  line-height: torem(90px);
}

.s-n-item-sub[data-pop="新游新服true"]:after {
  content: '';
  width: torem(12px);
  height: torem(12px);
  border-radius: torem(6px);
  background: #ff5e18;
  position: absolute;
  top: torem(23px);
}

.s-n-item-select {
  padding-left: torem(32px);
  color: #fff;
}

.s-n-item-select:before {
  content: '';
  display: block;
  width: torem(32px);
  height: torem(90px);
  background-size: torem(23px) auto;
  background-image: url("images/s-n-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.s-n-item-select[data-type='denglong']:before {
  background-image: url("images/denglong.png");
}

.s-n-more {
  width: torem(30px);
  height: torem(90px);
  background-size: torem(18px) auto;
  background-image: url("images/nav-more.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: torem(15px);
}

.s-n-more-rotate {
  transform: rotate(180deg);
}

.recommend-container-module {

  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  //height: torem(290px);
  padding: torem(36px) 0;
  white-space: nowrap;
  //padding-right: torem(36px);
  //background: #00aeff;
}

.md-1-cont {
  width: auto;
  height: 100%;
  position: relative;
  //padding-right: torem(36px);
  white-space: nowrap;
}

.module-title {
  width: torem(690px);
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: torem(28px);
  height: torem(32px);
  line-height: torem(32px);
  position: relative;
}

.module-title-text {
  display: inline-block;
  position: relative;
}

.module-title-text:before {
  content: '';
  width: torem(20px);
  height: torem(2px);
  position: absolute;
  top: 50%;
  border-radius: torem(1px);
  background: #23c9b6;
  left: torem(-30px);
  transform: translate(0, -50%);

}

.module-list {
  border-top: torem(24px) solid #232b36;
  padding: torem(30px) 0;
}

.module-list2 {

  border-top: torem(24px) solid #232b36;
  padding: torem(4px) 0;
  padding-top: torem(30px);
}

.module-title-text:after {
  content: '';
  width: torem(20px);
  height: torem(2px);
  position: absolute;
  top: 50%;
  border-radius: torem(1px);
  background: #23c9b6;
  right: torem(-30px);
  transform: translate(0, -50%);
}

.module-more-btn {
  width: torem(32px);
  height: torem(32px);
  background: url("images/module-more-btn.png") 0 0/100% 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

}

.first-game-container {
  width: torem(690px);
  height: torem(230px);
  margin: torem(26px) auto;
  position: relative;

  .f-big-banner {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;
    //opacity: 0.8;
  }

  .game-big-banner-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0.06) 30%, rgba(0, 0, 0, .6) 100%);
    height: torem(80px);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
  }

  .g-b-name {
    font-size: torem(32px);
    height: torem(80px);
    line-height: torem(81px);
    color: #fff;
    max-width: torem(500px);
    overflow: hidden;
    position: absolute;
    top: 0;

    left: torem(25px);
  }

  .g-b-start {
    position: absolute;
    top: torem(10px);
    right: torem(10px);
  }
}

.small-container-module {
  padding-bottom: 0 !important;

  .small-game-t {
    margin-bottom: torem(20px);
  }
}

.small-game-container-module {
  width: torem(690px);
  margin: 0 auto;
  font-size: 0;

  .game-btn:before {
    width: 0 !important;
    height: 0 !important;
  }

  .g-list {
    margin-left: 0 !important;
  }
}

.thematic-list-item {
  width: torem(410px);
  height: torem(200px);
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  background-color: #232b36;
  margin-left: torem(30px);
  position: relative;
  background-size: 100% auto;

  .t-title {
    position: absolute;
    width: torem(410px);
    height: torem(200px);
    line-height: torem(200px);
    font-size: torem(32px);
    text-align: center;
    top: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    left: 0;
    background-size: 100% 100%;
  }
}

.thematic-s-cont {
  font-size: 0;
  margin-top: torem(26px);
  padding-bottom: torem(26px);
  height: torem(200px);
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.information-list-container {
  padding-top: torem(20px);
  width: torem(690px);
  margin: 0 auto;
  margin-top: torem(26px);
  position: relative;
}

.information-list-container:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #414a58;
  position: absolute;
  transform: scale(1, 0.5);
}

.info-l-tag {
  height: torem(32px);
  line-height: torem(33px);
  border-radius: 3px;
  font-size: torem(22px);
  padding: 0 torem(5px);
  position: absolute;
  top: 51%;
  transform: translate(0, -50%);
  left: 0;
}

.blue-tag-l {
  border: 1px solid #00aeff;
  color: #00aeff;
}

.green-tag-l {
  border: 1px solid #24b9a9;
  color: #24b9a9;
}

.orange-tag-l {
  border: 1px solid #fe8731;
  color: #fe8731;
}

.purple-tag-l {
  border: 1px solid #8b65f5;
  color: #8b65f5;
}

.info-l-date {
  width: torem(85px);
  text-align: right;
  height: torem(80px);
  line-height: torem(80px);
  position: absolute;
  top: 0;
  color: #6c7583;
  font-size: torem(28px);
  right: 0;
}

.info-l-item {
  position: relative;
  height: torem(80px);
  line-height: torem(80px);
  color: #fff;
  width: torem(610px);
  font-size: torem(28px);
  //max-width: torem(525px);
  overflow: hidden;
  padding-left: torem(80px);

  .info-l-text {
    height: torem(80px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: torem(525px);
  }

}

.g-long-list {
  width: torem(670px);
  margin: 0 auto;
}

.nav-list-container {
  height: torem(90px);
  line-height: torem(90px);
  width: 100%;
  display: flex;

  .nav-item {
    color: #6c7583;
    text-align: center;
    flex-grow: 1;
    font-size: torem(28px);
    position: relative;
  }

  .nav-item-select {
    color: #fff;
  }

  .nav-item-select:before {
    content: '';
    width: 50%;
    height: torem(4px);
    background: #0ed5a0;
    position: absolute;
    bottom: 0;
    left: 25%;
    border-radius: torem(2px);
  }

}

/*bannerindex*/

.bannerindex{
  padding-top: torem(441px);
  width: torem(750px);
  margin: 0 auto;
  .banner-title{
    position: absolute;
    top:0px;
    width: 100%;
    height: torem(286px);
    background: url("images/title.png") 0 0/ 100% 100% no-repeat;
  }
  .banner-warpper{
    position: relative;
    width: torem(682px);
    margin: 0 auto;
    .banner-item{
      width: 100%;
      margin-bottom:torem(35px) ;
      img{
        display: block;
        width: 100%;
      }
    }
  }
}
.recent-view-banner{
  position: absolute;
  top:torem(310px);
}
.recent-view{

  width: 100%;

  color: #fff;
}
.recent-container{
  color: #6c7583;
  margin-top: torem(40px);
  .recommend-container{
    background: url("images/my-rec.png") 0 0 /100% 100%;
  }
  .recommend-more{
    background-image: url("./images/more2.png");

  }
}
.go-top {
  width: torem(100px);
  height: torem(100px);
  background: url("images/backtop.png") 0 0/100% 100%;
  position: fixed;
  bottom: torem(130px);
  right: torem(20px);
  z-index: 999999999;
}

.bright-theme{
  background: #ffffff;
  .game-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    .game-item{
      width: torem(250px);
      height: torem(220px);
      background: url("images/bg-gameItem.png") center /100% 100% no-repeat;
      margin: torem(60px) 0px 0px 0px;
      border-radius: torem(20px);
      position: relative;
      .game-icon{
        width: torem(140px);
        height: torem(140px);
        border-radius: torem(26px);
        //position: relative;
        display: block;
        left: 50%;
        margin: 0px auto;
        margin-top: torem(-30px);
        background-color: #dddddd;
      }
      .game-name{
        text-align: center;
        font-size: torem(28px);
        color: #000;
        margin-top: torem(25px);
        width: 100%;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .nav-view{
    width: 100%;
    display: flex;
    background-color: #fff;
    .more-nav{
      height: torem(54px);
      width: torem(25px);
      background: url("images/more2.png") center /50% auto  no-repeat;// #ff974a ;
      border-radius: torem(25px);
      margin: auto;
      //margin-left: 0px;
      margin-right: torem(25px);
    }
  }

  .nav-list-container[data-type = "bright" ]{
    height: auto;
    margin: torem(20px);
    width: 100%;
    line-height: 1.7em;
    overflow: scroll;
    flex-wrap: nowrap;
    .nav-item{
      color: #333333;
      padding: 0px torem(20px);
      flex-grow: initial;
      white-space: nowrap;
    }
    .nav-item-select{
      border-radius: torem(27px);
      background-color: #ff974a;
      color: #fff;
    }
    .nav-item-select:before{
      content: none;
    }
  }

  .nav-item-select{
    color: #0ed5a0;
  }
  .game-long-container  .g-l-name{
    color: #000;
  }
  .game-long-container .g-l-1{
    background: #ff773d;
  }
  .game-long-container .g-l-2{
    background: #43a4ff;
  }
  .game-long-container .g-l-3{
    background: #a788ff;
  }
  .game-long-container .g-l-4{
    background: #ffc657;
  }
  .game-long-container .g-long-desc{
    color: #8c9097;
  }
  .game-long-container:before, .game-long-container:first-child:after{
    background: #eee;
  }
}
.recent-game{
  padding-bottom: torem(35px);
  display: flex;
  width: torem(695px);
  margin: 0 auto;
  .recent-left{
    text-align: left;
    width: 50%;
    color: #000;
    font-size: torem(34px);
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    position: relative;
    top: torem(10px);
    .all-txt{
      color: #9da1a7;
      font-size: torem(24px);
    }
    .ico-more{
      width: torem(10px);
      height: torem(47px);
      display: inline-block;
      background:url("images/ic_more3.png") center  /100% auto no-repeat;
      position: absolute;
      left: torem(110px);
    }
  }
  .recent-right{
    display: flex;
    flex-direction: row-reverse;
    >.item{
      display: block;
      width: torem(100px);
      height: torem(100px);
      border-radius: torem(20px);
      background-color: #e7e7e7;
      margin: auto torem(18px);
    }
    .item:first-child{
      margin-right: 0px;
    }
  }
}