
::-webkit-input-placeholder {
  color: #5b6370;
}

:-moz-placeholder {
  color: #5b6370;
}

::-moz-placeholder {
  color: #5b6370;
}

:-ms-input-placeholder {
  color: #5b6370;
}

.search-input-container {
  width: 300px;
  height: 34px;
  border-radius: 17px;
  background: #161c24;
  border: 1px solid #30363e;
  position: relative;


  .input-search {
    display: block;
    width: 200px;
    height: 24px;
    line-height: 25px;
    background: transparent;
    outline: none;
    border: none;
    color: #5b6370;
    position: absolute;
    top: 5px;
    left: 20px;
    /* -o-text-indent: 20px;
    -webkit-text-indent: 20px;
    -moz-text-indent: 20px;
    -ms-text-indent: 20px;
    text-indent: 20px; */
  }

  .search-btn {
    width: 50px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    background: #2fd8a1;
    background: linear-gradient(90deg, #22cab5, #3fe28f);
  }

  .search-btn:before {
    content: '';
    width: 50px;
    height: 34px;
    background: url("imgs/ic_search.png") no-repeat;
    background-size: 18px;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .clear-search-btn {
    width: 34px;
    height: 34px;
    cursor: pointer;
    //background: #00aeff;
    background: url("imgs/ic_close.png") no-repeat;
    background-size: 10px;
    background-position: center;
    position: absolute;
    top: 0;
    right: 60px;
  }

}