<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport'
          content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'/>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='index'>
    <meta content='telephone=no' name='format-detection'/>
    <meta content='email=no' name='format-detection'/>
    <meta name='title' content='<%=htmlWebpackPlugin.options.title%>'/>
    <meta name='description' content='description'/>
    <title><%=htmlWebpackPlugin.options.title%></title>
    <style>
        body,html,#app{
            height: 100%;
        }
    </style>
    <script>
        document.write('<script src="http://www.shandw.com/libs/js/minit.min.js?m=' + (+new Date()) + '"><\/script>');
    </script>
    <script src="http://pv.sohu.com/cityjson"></script>
    <script>
        SDW_WEB.checkUserInfo();
    </script>
    <script src="http://www.shandw.com/libs/vue.js"></script>
</head>
<body>

<!--
我的更多
-->
<div id="app" >
    <div class="page-identify">
     <p class="txt-tip" style="line-height: 1.7em">
        *本平台承诺绝不对外公开、透露或编辑次信息；<br>
        *一个手机号码，只能绑定一个闪电玩账号；<br>
        *每次修改绑定手机号码后，需要7天后，才可以再次换绑。
    </p>
        <div v-if="!hasTelInfo">

             <input type="tel" placeholder="手机号" v-model="tel" class="ipt">
            <div class="ipt-code" >
                <input type="tel" placeholder="验证码" v-model="code.val" class="ipt" >
                <!--<div class="getCode" @click="getCode()" :class="code.time<60?'forbidGet':''">{{code.time<60?code.time+'s后重新获取':'获取验证码'}}</div>-->
                <div class="getCode" @click="getCode()" >{{'获取验证码'}}</div>
            </div>
            <div class="tip-error" v-if="errorTip" >
                <p ><i></i>{{errorTip}}</p>
            </div>
            <div class="long-btn" @click="bindTel()">确认绑定</div>
        </div>
        <div v-else>
            <div class="info-container list-container" >
                <div class="list-item">闪电玩id：{{this.id}}</div>
                <div class="list-item">当前绑定手机号：{{this.tel}}</div>
            </div>
            <div class="long-btn" @click="hasTelInfo = false;tel = null;code.val = null">变更绑定手机</div>
        </div>
    </div>



</div>


</body>


</html>