.detail .t {
  height: 182px;
  background: #2f3948; }
  .detail .t .left {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin-left: 30px; }
    .detail .t .left img {
      width: 120px;
      height: 120px; }
  .detail .t .middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    width: 336px;
    margin-left: 30px; }
    .detail .t .middle .name {
      font-size: 22px;
      color: #fff; }
    .detail .t .middle .sinfo {
      margin-top: 10px;
      width: 336px;
      height: 38px;
      overflow: hidden;
      font-size: 14px;
      color: #73808f; }
    .detail .t .middle .btn {
      margin-top: 20px;
      width: 182px;
      line-height: 52px;
      background: url("../images/s-btn.png") 100% no-repeat;
      color: #fff;
      font-size: 22px;
      text-align: center;
      cursor: pointer; }
  .detail .t .right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    margin-right: 30px; }
    .detail .t .right .s-n {
      margin-left: 2px;
      height: 20px;
      color: #ff8244;
      font-size: 42px;
      font-weight: bold;
      font-style: italic; }
    .detail .t .right .l-n {
      height: 20px;
      color: #ff8244;
      font-size: 25px;
      font-weight: bold;
      font-style: italic; }
    .detail .t .right .words {
      margin-left: 10px;
      font-size: 14px;
      color: #fff; }
.detail .t:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both; }
.detail .m {
  width: 100%;
  margin-top: 30px; }
  .detail .m .swiper-container {
    height: 426px;
    width: 100%; }
    .detail .m .swiper-container .swiper-slide {
      width: 250px;
      height: 395px; }
      .detail .m .swiper-container .swiper-slide img {
        width: 100%;
        height: 100%; }
    .detail .m .swiper-container .swiper-scrollbar {
      background: #2f3948; }
.detail .info {
  margin-top: 20px;
  line-height: 2rem;
  text-indent: 2rem;
  font-size: 14px;
  color: #73808f; }
.detail .gift {
  margin-bottom: 20px; }
  .detail .gift .gift-b {
    position: relative;
    height: 110px;
    border-bottom: 1px solid #2c3947;
    padding: 30px 0;
    box-sizing: border-box; }
    .detail .gift .gift-b .gift-circle {
      position: relative;
      width: 50px;
      height: 50px; }
      .detail .gift .gift-b .gift-circle .gift-num-p {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 50px;
        color: #fff;
        font-size: 15px;
        font-weight: bold; }
    .detail .gift .gift-b .name {
      position: absolute;
      top: 30px;
      left: 70px;
      height: 30px;
      line-height: 30px;
      font-size: 17px;
      color: #fff; }
    .detail .gift .gift-b .des {
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      color: #73808f;
      position: absolute;
      bottom: 30px;
      left: 70px;
      max-width: 553px;
      overflow: hidden; }
    .detail .gift .gift-b .btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 65px;
      line-height: 30px;
      color: #fe8731;
      border: 1px solid #fe8731;
      border-radius: 15px;
      left: auto !important;
      font-size: 15px;
      text-align: center;
      cursor: pointer; }

.star0, .star1, .star2 {
  width: 20px;
  height: 20px;
  float: left; }

.star0 {
  background: url("../images/star-0.png") center/15px 15px no-repeat; }

.star1 {
  background: url("../images/star-1.png") center/15px 15px no-repeat; }

.star2 {
  background: url("../images/star-2.png") center/15px 15px no-repeat; }

/*# sourceMappingURL=game-detail.css.map */
