@function torem($px) {
  @return $px / 32px * 1rem;
}

@function topx($px) {
  @return $px / 32px * 16px;
}

//my game
.my-game-item {
  display: inline-block;
  width: torem(650px);
  height: torem(220px);
  border-radius: 8px;
  background: #fff;
  margin-top: torem(20px);
  position: relative;
  margin-left: torem(20px);
  .game-cover {
    width: torem(310px);
    height: torem(217px);
    position: absolute;
    top: torem(-20px);
    left: torem(30px);
    //background: #00ae6d;
    border-radius: 8px;
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, .2);

    img {
      width: torem(310px);
      height: torem(217px);
      display: block;
      border-radius: 8px;
    }

  }


  .game-title {

    height: torem(80px);
    line-height: torem(84px);
    font-size: torem(32px);
    width: torem(250px);
    overflow: hidden;
    border-bottom: .5px solid #d2d2d2;
    position: absolute;
    top: 0;
    right: torem(30px);
  }

  .game-data-info {
    height: torem(90px);
    width: torem(250px);
    position: absolute;
    bottom: torem(35px);
    right: torem(30px);
    .data-type {
      overflow: hidden;
      //text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: torem(125px);
      height: torem(45px);
      line-height: torem(50px);
      font-size: torem(34px);
      color: #ff7200;
      font-weight: bold;
    }
    .data-type[data-index='-1'] {
      padding-left: torem(40px);
      color: #ababab;
      font-size: torem(28px);
      background: url("images/icon-no.png") left center /torem(30px) auto no-repeat;
    }
    .data-type[data-index='1'] {
      background: url("images/icon1.png") left center /torem(113px) auto no-repeat;
    }
    .data-type[data-index='2'] {
      background: url("images/icon2.png") left center /torem(113px) auto no-repeat;
    }
    .data-type[data-index='3'] {
      background: url("images/icon3.png") left center /torem(114px) auto no-repeat;
    }
    .data-type[data-index='4'] {
      background: url("images/icon4.png") left center /torem(112px) auto no-repeat;
    }
    .data-type[data-index='5'] {
      background: url("images/icon5.png") left center /torem(113px) auto no-repeat;
    }
    .data-type[data-index='6'] {
      background: url("images/icon6.png") left center /torem(114px) auto no-repeat;
    }
    .data-type[data-index='7'] {
      background: url("images/icon7.png") left center /torem(114px) auto no-repeat;
    }
    .data-type[data-index='8'] {
      background: url("images/icon8.png") left center /torem(118px) auto no-repeat;
    }
    .data-type[data-index='9'] {
      background: url("images/icon9.png") left center /torem(115px) auto no-repeat;
    }
  }

  .game-data-info[data-length='1'] {
    bottom: torem(15px);
  }

  .game-play-time {
    text-align: left;
    text-indent: torem(20px);
    width: torem(210px);
    height: torem(51px);
    background: url("images/tagstime.png") 0 0 / 100% 100% no-repeat;
    color: #fff;
    position: absolute;
    top: torem(16px);
    left: torem(-14px);
    font-size: torem(22px);
    line-height: torem(40px);
  }

}

.my-game-item:last-child {
  margin-right: torem(20px);
}
