
.new-game-container {
  margin-top: 20px;
  font-size: 0;
}

.new-game-list {
  position: relative;
  margin-top: 20px;
}

.xl-game-cont {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  display: inline-block;
  width: 320px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 20px;
}

.xl-game-cont:before {
  content: '';
  width: 30px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  background: url(imgs/new-tag.png) 0 0/100% no-repeat;
}

.xl-game-cont:nth-child(2n) {
  margin-right: 0;
}

.l-g-cover {
  width: 150px;
  height: 105px;
  background: #d1d1d1;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.32);

  img {
    width: 100%;
    height: 100%;
  }

  .start-game-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .32s;
    background: url("../../images/start-game.png") 0 0/100% 100% no-repeat;
  }

  .q-code-border {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url("imgs/q-code-border.png") 0 0/100% 100% no-repeat;
  }

  .q-code-flash {
    width: 104px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: url("../../images/code-flash-linear.png") 0 0/100% 100% no-repeat;
    animation: q-code-flash linear 3s infinite;
  }

  .q-code-cont {
    width: 75px;
    height: 75px;
    border: 6px solid #fff;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 8px;
  }

  @keyframes q-code-flash {
    0% {
      transform: translate3d(0, 105px, 0);
    }

    100% {
      transform: translate3d(0, -41px, 0);
    }
  }

}

.l-g-cover:hover .start-game-cover {
  opacity: 1;
}

.l-game-cont:last-child {
  margin-right: 0;
}

.xl-g-info {

  width: 170px;
  height: 105px;
  position: absolute;
  background: #2a3341;
  top: 0;
  left: 150px;

  .l-g-i-title {
    width: 115px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 14px;
    left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }


  .l-g-i-info {
    width: 145px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #73808f;
    position: absolute;
    top: 38px;
    left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .q-code {
    width: 18px;

    height: 18px;
    background: url("../../images/q-code.png") right center/18px 18px no-repeat;
    position: absolute;
    cursor: pointer;

    bottom: 12px;
    right: 12px;
  }

  .q-code:hover {
    background: url("../../images/q-code-hover.png") right center/18px 18px no-repeat;
  }

  //.q-code:hover .l-g-cover .q-code-border {
  //  visibility: visible;
  //}

  .l-g-star {

    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 15px;

    .s-n {
      margin-left: 2px;
      height: 20px;
      color: #fe8731;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
    }

    .l-n {
      height: 20px;
      color: #fe8731;
      font-size: 13px;
      font-weight: bold;
      font-style: italic;
    }
  }

  .star0, .star1, .star2 {
    display: inline-block;
    width: 10px;
    height: 17px;
    float: left;
    margin-right: 3px;
  }

  .star0 {
    background: url("imgs/star-0.png") center /10px 10px no-repeat;
  }

  .star1 {
    background: url("imgs/star-1.png") center / 10px 10px no-repeat;
  }

  .star2 {
    background: url("imgs/star-2.png") center /10px 10px no-repeat;
  }

}