<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport'
          content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'/>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='index'>
    <meta content='telephone=no' name='format-detection'/>
    <meta content='email=no' name='format-detection'/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name='title' content='<%=htmlWebpackPlugin.options.title%>'/>
    <meta name='description' content='' class='sDesc'/>
    <title><%=htmlWebpackPlugin.options.title%></title>

    <style>
        .drop-item {
            position: fixed;
            top: 0;
            left: 0;
            background-size: 100%;
            z-index: 9999999999;
        }

        #drop-canvas {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999999;
            display: block;
        }

    </style>
    <script>
        document.write('<script src="http://www.shandw.com/libs/path.min.js?m=' + (+new Date()) + '"><\/script>');
        document.write('<script src="../../libs/js/minit.min.js?m=' + (+new Date()) + '"><\/script>');
    </script>
    <script src="../../libs/vue.js"></script>
    <link rel="stylesheet" href="https://www.shandw.com/mobile/scss/swiper.min.css">
    <script src='https://www.shandw.com/mobile/js/swiper.min.js'></script>
    <script>
        (function () {
            if (SDW_WEB.onWeiXin) {
                document.write('<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"><\/script>');
            }
        })()
    </script>
</head>

<script>
    (function () {
        if (SDW_WEB.onPC) {
            location.href = SDW_PATH.PC_ROOT + 'index/?channel=' + SDW_WEB.channel + '&v=' + SDW_WEB.version;
        }
        // 判断烟草的地址的合法性
        if (SDW_WEB.channel === '10041') {
            location.href = SDW_WEB.MOBILE_ROOT + 'cigarette/?channel=10041';
        }
        if (SDW_WEB.channel === '10059') {
            location.href = 'http://www.shandw.com/activities/redpacket/index.html?channel=10059';
        }
        // 通用的外部获取方法
        SDW_WEB.checkUserInfo(true);
    })();
</script>

<body style="display: none;">

<div id="app" v-cloak
     :class="onShandw?'app-shandw' : ''"
     style="margin-top: 0">


    <!--活动浮窗按钮-->
    <div id="my-menu"
         style="z-index: 99999999"
         v-if="activity.state">
        <div id="menu-btn">
            <div class="sdw-icon-ani" :data-state="activity.state">
                <!--<div class="timer-text" v-if="activity.state === 'timer'">{{eggInfo.timerMessage}}</div>-->
            </div>
        </div>
    </div>


    <!--签到-->
    <!--<qiandao-->
            <!--:list='checkList'-->
            <!--:checkin="qiandaoCheckIn"-->
            <!--:mymoney="qiandaoMoney"-->
            <!--v-on:hide-mask="hideQiandaoMask()"-->
            <!--ref='checkinref'></qiandao>-->

    <!--返回顶部-->
    <div class="go-top" @click.stop.self="gotoTopFn()" style="display: none" id="goBackBtn"></div>

    <!--快速登录-->
    <fast-login ref="login" show="" v-on:login-ok="loginOkCallback"></fast-login>

    <!--二维码-->
    <section class="b-ewm-cont-v2"
             @click.self='showEwmV2=0'
             v-if="showEwmV2">

        <div class="qcode-conatiner">
            <img src="images/ewn-banner.png"
                 class="ewm-v2-img"
                 v-if="showEwmV2">
            <div class="q-code-close"
                 @click.self='showEwmV2=0'></div>
        </div>

    </section>

    <!--绑定手机 -->
    <bind-phone
            ref='bindPhone'
            showbind=""
            :bind-phone-item="bindPhoneItem"
            v-on:bind-callback="bindPhoneCallback"
    ></bind-phone>


    <!--解锁新成就，引导前往-->
    <task-get-alert
            ref="taskgetalert"
            show-info=""
            typeindex="1"
            :task-item-info='bindPhoneItem'
    >
        <div class="task-get-btn"
             @click.stop.self="gotoTaskPage()">前往领取
        </div>
    </task-get-alert>

    <!--任务弹窗-->
    <task-info ref='taskContainer' :task-item-info="currentTaskItem" showInfo="">
        <div class="login-btn-v3"
             @click.stop.self="gotoTaskPage()">前往领取
        </div>
    </task-info>


    <!--轮播底部的模糊图片-->
    <img id="topBanner">

    <!--顶部-->
    <section class="top-user-info-container">

        <div class="my-avatar-v2-container">
            <img :src="user.avatar" class="my-avatar-v2" @click.self.stop='gotoMyHome()'>
        </div>

        <!--我的金币-->

        <div class="conts my-money">{{transformQuantity(user.gold)}}</div>

        <!--按钮集合列表-->
        <div class="btn-list">

            <template v-if="!cheLaiLeAPP">
                <!--签到-->
                <!--<section class="checkin-btn-v2 icons" id="checkin"-->
                         <!--@click.stop.self='showCheckIn()'-->
                         <!--v-if="showQiandao"></section>-->

                <!--手机绑定-->
                <div v-if="!user.phone && user.isLogin" class="icons bind-phone-cc">

                    <!--<div class="icons bind-phone-cc">-->

                    <transition name="scale-top">
                        <section class="bind-phone-tips" v-if="user.showPhoneTips">
                            <!--<section class="bind-phone-tips">-->
                            隐藏成就:<br/>
                            绑定送<span style="color: #ff5e18">{{transCoins(bindPhoneItem.coin)}}</span>闪电币!
                        </section>
                    </transition>

                    <section class="bind-phone-v2 tada icons"
                             @click.self="showPhoneBindFn()"></section>

                </div>

            </template>

            <!--搜索-->
            <section class="search-btn-v2 icons" id="search"
                     @click.stop.self='gotoSearchPage()'></section>

            <!--闪电玩显示更多的按钮(车来了APP不展示)-->
            <section class="ewm-btn-v2-btn icons"
                     @click.self.stop='showSdwAPPMoreBtn()'
                     v-if="onShandw && !cheLaiLeAPP"></section>

            <!--下载-->
            <section class="download-app-btn icons"
                     @click.self.stop='downloadSdwApp()'
                     v-if="!hideDownlaodApp"></section>

            <!--显示二维码(只在微信中)-->
            <section class="ewm-btn-v2 icons"
                     @click.self='gotoSDWWEIXIN()' v-if="showCodes"></section>

        </div>

    </section>

    <!--轮播  广告 -->
    <div class="banner-conatiner" id="banners">
        <div class="swiper-wrapper" id="bannercont"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!--四个主分类按钮-->
    <div class="main-tabs" v-if="menuList.length">

        <div class="main-tabs-icon"
             v-for="(i,index) in menuList"
             @click.stop="menuBtnSate(i,index)">
            <img class="m-icons" :src="i.icon" v-if="!i.acIcon"/>


            <div class="m-icons"
                 :data-type="i.acIcon"
                 v-if="i.acIcon"></div>

            <div class="m-i-name">{{i.name}}</div>
        </div>

    </div>


    <!--我玩过的游戏-->
    <div class="recommend-container" v-if="recommendList.length">

        <div class="recommend-list2">玩过</div>

        <div class="recommend-list"
             v-for="item in recommendList"
             @click="checkGameSate('play',item.id,item)">
            <img :data-src="item.icon" data-loaded="0" class="recommend-cover">
        </div>

        <!--更多的游戏-->
        <div class="recommend-more" @click.stop.self="goMorePage()"></div>

    </div>

    <!--滑动的导航条-->
    <div class="slider-nav-lists">

        <!--用于分离  固定和回归-->
        <div class="slider-nav slider-nav-normal">

            <div :class="!hasShowMoreNav ? 'slider-nav-title' :'slider-nav-title-more' "
                 data-nav="slider">

                <!--变更-->
                <div :class="!hasShowMoreNav ? 'display-container' :'display-container-more' "
                        id="display-container">

                    <!--单个导航栏-->
                    <div class="s-n-item"
                         v-for="i in sliderNavList"
                         v-if="i.show"
                         @click.stop='changeNavItem(i)'>

                        <!--需要在新游新服的导航上加上小圆点-->
                        <span
                                class="s-n-item-sub"
                                :data-pop="i.title + showServerPop"
                                :data-type="activityType"
                                :class="i.isTap ? 's-n-item-select' : 's-n-item-title' ">{{i.title}}</span>
                    </div>

                </div>

            </div>


            <!--展开更多的导航栏信息-->
            <div class="s-n-more"
                 :class="!hasShowMoreNav ? '' :'s-n-more-rotate' "
                 @click.stop="showMoreNav()"></div>

        </div>

    </div>

    <!--每日推荐游戏-->
    <div class="recommend-container-module" data-module="1" v-if="recommendModuleList.length">

        <!--滚动框 可滚动-->
        <div class="md-1-cont">
            <game-item class="g-list" :game-item="item"
                       v-for="item in recommendModuleList"
                       v-on:tap-game="checkGameSate"></game-item>
        </div>

    </div>


    <!--小游戏模块-->
    <div class="small-container-module module-list" data-module="7" v-if="smallGameModuleList.length">

        <div class="module-title">
            <span class="module-title-text">小游戏</span>

            <!--更多跳转-->
            <div class="module-more-btn"
                 @click.stop.self="openMoreGameList('classify','s_type=XIAOYOUXI')"></div>
        </div>


        <!--游戏列表-->
        <div class="small-game-container-module s-c-m">


            <!--小游戏列表-->
            <small-game-item :game-item="i"
                             v-for="i in smallGameModuleList"
                             v-on:tap-game="checkGameSate"></small-game-item>

        </div>
    </div>



    <!--爆款必玩游戏  classify/?s_tip=  -->
    <div class="hotgame-container-module module-list" data-module="2" v-if="hotGameModuleList.length">

        <div class="module-title">
            <span class="module-title-text">必玩爆款</span>

            <div class="module-more-btn"
                 @click.stop.self="openMoreGameList('classify','s_tip=ZUIRE')"></div>
        </div>

        <!--爆款的大图  690*230-->
        <div class="first-game-container">

            <img :src="hotGameModuleList[0].img"
                 @click.stop.self="checkGameSate('',hotGameModuleList[0].id,hotGameModuleList[0],'2-1')"
                 class="f-big-banner">

            <div class="tag-list">
                <i class="tags" :class="item.cl"
                   v-for="item in hotGameModuleList[0].tags"></i>
            </div>

            <div class="game-big-banner-info">
                <div class="g-b-name">{{hotGameModuleList[0].name}}</div>

                <div class="game-btn g-b-start"
                     @click.stop.self="checkGameSate('play',hotGameModuleList[0].id,hotGameModuleList[0],'2-1')">开玩
                </div>
            </div>
        </div>

        <!--游戏列表-->
        <div class="small-game-container-module">

            <small-game-item :game-item="i"
                             v-if="index != 0"
                             v-for="(i,index) in hotGameModuleList"
                             v-on:tap-game="checkGameSate"></small-game-item>
        </div>
    </div>

    <!--专题推荐 -->
    <!--<div class="thematic-container-module module-list2" data-module="3" v-if="thematicModuleList.length">-->

    <!--<div class="module-title">-->
    <!--<span class="module-title-text">专题推荐</span>-->
    <!--<div class="module-more-btn" @click.stop.self="openMoreGameList('thematic')"></div>-->
    <!--</div>-->


    <!--&lt;!&ndash;滚动专题的&ndash;&gt;-->
    <!--<div class="thematic-s-cont">-->
    <!--<div class="md-1-cont thematic-cont">-->

    <!--&lt;!&ndash;专题的图集 200*410&ndash;&gt;-->
    <!--<div class="thematic-list-item" v-for="(i,index) in thematicModuleList"-->
    <!--:data-index="index"-->
    <!--@click.stop.self="openMoreGameList('thematic/start.html',i.id,i.link,index)"-->
    <!--:style="{backgroundImage:'url('+i.icon+')'}">-->

    <!--&lt;!&ndash;<div class="t-title"&ndash;&gt;-->
    <!--&lt;!&ndash;@click.stop.self="openMoreGameList('thematic/start.html',i.id)">{{i.name}}&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--新游戏推荐  classify/?s_tip=  -->
    <div class="hotgame-container-module module-list" data-module="4">

        <div class="module-title">
            <span class="module-title-text">新游新服</span>
            <div class="module-more-btn"
                 @click.stop.self="openMoreGameList('classify','s_tip=ZUIXIN')"></div>
        </div>

        <template v-if="newGameModuleList.length">
            <!--爆款的大图  690*230-->
            <div class="first-game-container">
                <img :src="newGameModuleList[0].img"
                     @click.stop.self="checkGameSate('',newGameModuleList[0].id,newGameModuleList[0],'4-1')"
                     class="f-big-banner">

                <div class="tag-list">
                    <i class="tags" :class="item.cl"
                       v-for="item in newGameModuleList[0].tags"></i>
                </div>

                <div class="game-big-banner-info">
                    <div class="g-b-name">{{newGameModuleList[0].name}}</div>

                    <div class="game-btn g-b-start"
                         @click.stop.self="checkGameSate('play',newGameModuleList[0].id,newGameModuleList[0],'4-1')">开玩
                    </div>
                </div>
            </div>

            <!--游戏列表，需要剔除第一个游戏-->
            <div class="small-game-container-module">
                <small-game-item :game-item="i"
                                 v-if="index != 0"
                                 v-for="(i, index) in newGameModuleList"
                                 v-on:tap-game="checkGameSate"></small-game-item>

            </div>
        </template>

    </div>

    <!--开服模块 一定要全部显示-->
    <div class="new-server-container-module module-list">

        <!--两个类型分类-->
        <section class="game-sort-v2-cont" v-if="showTopNav">

            <section class="nav-btn"
                     :class="isShowHotGame?'nav-btn-select':''"
                     @click.self.stop='changeGameListState(1)'>已开新服
            </section>

            <section class="nav-btn"
                     :class="isShowHotGame?'':'nav-btn-select'"
                     @click.self.stop='changeGameListState(0)'>新服预告
            </section>

        </section>

        <!--已开新服-->
        <div class="game-list-container" v-show="isShowHotGame">

            <template v-if="serverGameModuleList.length">

                <!--服务列表的模板-->
                <server-game-item :game-item="i"
                                  v-for="i in serverGameModuleList"
                                  v-on:tap-game="checkGameSate"></server-game-item>


                <!--点击进入更多的游戏列表-->
                <div class="server-game-more" @click.stop.self="openMoreGameList('classify/server.html','_s_fl_=0')">
                    查看更多
                </div>
            </template>

            <div class="no-server" v-else>
                新服信息正在路上
            </div>

        </div>

        <!--新服预告-->
        <div class="game-list-container" v-show="!isShowHotGame">

            <template v-if="bServerGameModuleList.length">
                <server-game-item :game-item="i"
                                  v-for="i in bServerGameModuleList"
                                  v-on:tap-game="checkGameSate"></server-game-item>


                <!--点击进入更多的游戏列表-->
                <div class="server-game-more" @click.stop.self="openMoreGameList('classify/server.html','_s_fl_=1')">
                    查看更多
                </div>
            </template>

            <div class="no-server" v-else>
                新服信息正在路上
            </div>

        </div>

    </div>

    <!--资讯模块-->
    <div class="information-container-module module-list" data-module="6" v-if="newsModuleList.length">

        <div class="module-title">
            <span class="module-title-text">闪电资讯</span>
            <div class="module-more-btn" @click.stop.self="openMoreGameList('news')"></div>
        </div>

        <div class="information-list-container">

            <div class="info-l-item" v-for="i in newsModuleList" @click.stop="openInformationUrl(i.link)">
                <!--不同的类型对应着不用的颜色-->
                <span class="info-l-tag"
                      :class="i.mcls">{{i.type}}</span>
                <div class="info-l-text">
                    {{i.ct}}
                </div>
                <span class="info-l-date">{{transDateObj(i.time)}}</span>
            </div>

        </div>

    </div>



    <!--全部游戏模块-->
    <div class="all-container-module module-list" data-module="8" v-if="allGameList.length">

        <div class="module-title">
            <span class="module-title-text">全部游戏</span>
            <!--<div class="module-more-btn"></div>-->
        </div>

        <div class="g-long-list s-c-m">
            <!--长形的游戏列表-->
            <long-game-item :game-item="item"
                            v-for="item in allGameList"
                            v-on:tap-game="checkGameSate"></long-game-item>

        </div>

    </div>

    <!--加载更多的提示-->
    <loading-view v-show="pageHasLoading"></loading-view>

    <!--闪电玩-->
    <p class="sdw-copy-right" v-if="!onAPPs">
        杭州电魂网络科技股份有限公司版权所有<br/>
        增值电信业务经营许可证：浙B2-20090296<br/>
        网络文化经营许可证：浙网文【2012】0804-079号
    </p>


    <!--底部导航栏 -->
    <sdw-footer type="index"  v-on:show-login="__showLoginPage"></sdw-footer>


</div>


</body>


</html>