<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport'
          content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'/>
    <!--<meta name='apple-mobile-web-app-capable' content='yes'>-->
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='index'>
    <meta content='telephone=no' name='format-detection'/>
    <meta content='email=no' name='format-detection'/>
    <meta name='title' content='<%=htmlWebpackPlugin.options.title%>'/>
    <meta name='description' content='description'/>
    <title><%=htmlWebpackPlugin.options.title%></title>

    <link rel="stylesheet" href="https://www.shandw.com/mobile/scss/swiper.min.css">

    <script>
        document.write('<script src="http://www.shandw.com/libs/path.min.js?m=' + (+new Date()) + '"><\/script>');
        document.write('<script src="http://www.shandw.com/libs/js/minit.min.js?m=' + (+new Date()) + '"><\/script>');

    </script>

    <script src="http://www.shandw.com/libs/vue.js"></script>

    <!--<script src="../../libs/vue.js"></script>-->
    <script>
        (function () {


            var goToUri = location.href.split('#')[0];

            var checkUrl = SDW_WEB.URLS.addParam({
                datatype: window.DATAITEM,
                goto: goToUri,
                channel: SDW_WEB.channel
            }, true, SDW_WEB.CHECK_URL);

            SDW_WEB.getUserInfo(null, checkUrl, true);

        })()
    </script>

    <script>
        (function () {

            if (SDW_WEB.onWeiXin) {
                document.write('<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"><\/script>');
            }
        })()
    </script>

    <script src='https://www.shandw.com/mobile/js/swiper.min.js'></script>

</head>
<body>

<!--
游戏详情
-->

<div id="app" v-cloak class="app-shandw">

    <!--快速登录-->
    <fast-login ref="login" show=""></fast-login>

    <!--游戏顶部大框体-->
    <div class="detail-top-container">

        <!--背景大图-->
        <img :data-src="detail.cover" class="detail-bg-img" data-loaded="0">

        <!--遮罩-->
        <div class="linear-mask"></div>

        <div class="game-info-container">


            <img :data-src="detail.icon" class="game-icon" data-loaded="0">

            <div class="game-title">
                <div class="game-name">{{detail.title}}</div>
                <span class="game-tag">{{detail.type}}</span>
            </div>

            <div class="hot-play-info">

                <!--游戏星级-->
                <span class="star-list">
                <i :class="it" v-for="(it, index) in detail.star"></i>
            </span>

                <!--玩游戏的人数-->
                <span class="light-num">{{transformQuantity(detail.quantity)}}</span>人在玩
            </div>

            <div class="game-info">{{detail.desc}}</div>

            <!--开始游戏-->
            <div class="play-game-btn" @click.stop.self="checkGameSate()">开始游戏</div>
        </div>

    </div>

    <!--轮播-->
    <div class="banners-container2">
        <div class="banners-container">
            <img v-for="(i,index) in banners"
                 :data-src="i"
                 @click="tapToSliderImg(index)"
                 class="scroll-items" data-loaded="0">
        </div>
    </div>


    <!--查看大图-->
    <div class="swiper-container" @click.stop="tapToSliderImg(-1)">
        <div class="swiper-wrapper" id="bigBanner">
            <div class="swiper-slide big-cover" v-for="(i,index) in banners"
                 :style="{background:'url('+i+')'}"
            ></div>
        </div>

        <div class="swiper-pagination" style="height: 1.5rem"></div>
    </div>


    <!--游戏礼包-->
    <div class="detail-gift-container">

        <gift-item :gift-item="item" v-for="item in giftLists">

            <div class="gift-progress" slot="gift-line">
                <div class="line-container">
                    <div class="line-width" :style="{width:computedQuantity(item)+'%'}"></div>
                </div>
                <div class="line-text" v-if="!item.code">剩余{{100-computedQuantity(item)}}%</div>
                <!--显示礼包码-->
                <div class="line-text" v-if="item.code">礼包码{{item.code}}</div>
            </div>

            <div slot="gift-btn"
                 class="gift-btn"
                 :class="item._hasGet == 1 ? 'gift-get' : 'gift-normal'"
                 @click.stop="checkGiftState(item)"
            >{{item._hasGet==1 ? '已领取' : '领取' }}
            </div>

        </gift-item>

    </div>

    <!--游戏的描述-->
    <div class="detail-desc">{{detail.info}}</div>

    <!--游戏礼包-->
    <div class="gift-bg-container" v-if="showGift" @click.stop.self="showGift=0">

        <div class="gift-cover">

            <div class="game-code">{{giftCode}}</div>
            <div class="goto-game-btn" @click.stop.self="checkGameSate()"></div>

        </div>
    </div>
</div>


</body>


</html>