<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪电玩H5游戏中心_电魂旗下H5游戏平台</title>
    <meta name="keywords" content="h5游戏,在线游戏,小游戏,轻游戏,手机游戏,微信送话费,电魂,闪电玩h5">
    <meta name="description" content="闪电玩是中国领先的h5小游戏专业网站，免费提供上百款多人小游戏和单机游戏，传奇世界、决战沙城、大天使之剑、火影忍者、口袋妖怪、一代宗师、楚乔传、侠客行（降龙十八掌）、仙剑客栈、十里桃花白浅传等类型繁多的精品h5游戏。">
    <meta name='viewport'
          content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'/>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='index'>
    <meta content='telephone=no' name='format-detection'/>
    <meta content='email=no' name='format-detection'/>
    <script src="https://www.shandw.com/libs/vue.js"></script>
    <script src="https://www.shandw.com/pc/js/libs/q.min.js"></script>
    <script>
        document.write('<script src="https://www.shandw.com/libs/js/minit.min.js?m=' + (+new Date()) + '"><\/script>');
        document.write('<script src="https://www.shandw.com/libs/path.min.js?m=' + (+new Date()) + '"><\/script>');
    </script>

    <script>

        (function () {

            var goToUri = location.href.split('#')[0];

            var checkUrl = SDW_WEB.URLS.addParam({
                datatype: window.DATAITEM,
                goto: goToUri,
                channel: SDW_WEB.channel,
            }, true, SDW_WEB.CHECK_URL);

            SDW_WEB.getUserInfo(null, checkUrl);

        })();

    </script>
</head>
<body>
<div id="app">
<div id="app-container" v-cloak :class="['container',m3pltC, m3pltCGame]">
    <div v-if="!onM3plt && !onM3pltGame">
        <!-- 顶部下载 -->
        <top-download v-if="downloadApp" @close-dialog="closeDialog"></top-download>
        <!-- 联系客服 -->
        <div class="contact-container" :style="contactContainer"  @click="choseConContainer">
            <top-contact @close-contact="closeContact"></top-contact>
        </div>
        <!-- 顶部栏 -->
        <div class="top-info">
            <home-page-top :usr-info="usrInfo" @download-dialog="showDownloadDialog" @gift-page="showGiftPage" @contact-serv="showConDialog" @login-dialog="getDialog"></home-page-top>
        </div>
        <!-- 登录 -->
        <top-login :style="loginShow"  @on-login="onLogin" :app="APP" @login-close="loginClose"></top-login>
    </div>
    <alert-game :url="currentGameUrl" v-on:hide-alert-game="hideMask"></alert-game>

    <!--左边的内容-->
    <div :class="['left-container', m3pltL, m3pltLGame]">

        <!--面包导航栏-->
        <div class="nav-list-container" v-if="onM3plt||onM3pltGame">

            <div class="back-btn" onclick="history.back()">返回</div>

            <a class="nav-list-item nav-list-arr" :href="APP_ROOT_HOME">首页</a>
            <a class="nav-list-item" href="javascript:void(0);">资讯</a>

        </div>

        <div class="title-container linear-title" style="margin-top: 30px">

            <div class="title cls-title">
                <div class="cls-tab" :class="{'cls-tab-select': titleSelected===index}" style="padding: 0 10px" v-for="(item, index) in titleList" @click="getNewsType(index)">
                    {{item}}
                </div>
            </div>

        </div>
        <div class="hot-game-list">

            <!--搜索到的游戏-->
            <news-list v-if="newsLists.length>0"
                    :news-item="item"
                    v-for="item in newsLists"
            ></news-list>
            <div v-if="!newsLists.length>0" class="no-data">暂时无数据</div>
        </div>


        <div class="get-more-gift"
                v-if="showMoreBtn"
                @click.stop="loadMoreSearchGame()"
        >点击加载更多游戏
        </div>

    </div>


    <div :class="['right-container', m3pltR, m3pltRGame]" :style="{right:rightFixed+'px',left: m3plRrightFixed}">

        <search-input
                v-on:search-btn-fn="searchBtnFn"
        ></search-input>


        <img src="http://www.shandw.com/m3plt/index/images/sdw-flash.gif" class="sdw-flash">

    </div>
</div>
<footer-item></footer-item>
</div>
</body>
</html>