body {
  font-family: arial, helvetica, "Microsoft YaHei";
}

.contact-container {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(10, 14, 18, 0.6);
  z-index: 1000;
}

.top-info {
  position: fixed;
  margin-left: -30px;
  width: 1040px;
  z-index: 40;
}

#third-authorize-page {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 99999999999;
  background: #fff;
  overflow: hidden;
}

#closeAuthPage {
  position: fixed !important;
  top: 55px;
  right: 5px;
  font-size: 13px;
  line-height: 16px;
  padding: 3px;
  border-radius: 3px;
  background: rgba(0, 170, 238, 0.5);
  cursor: pointer;
  z-index: 1000000000000;
}

.news-container {
  margin-top: 32px;
}

.hot-game-container .hot-title {
  text-indent: 20px;
  background: url("images/hot-icon.png") 15px 18px no-repeat;
  background-position: left center;
}

.classify-game-container {
  margin-top: 30px;
}

.sdw-flash {
  margin: 0 auto;
  width: 270px;
  height: 220px;
  display: block;
  margin-top: 15px;
}

.cls-activity-view {
  font-size: 0;
}

.banner-container {
  width: 660px;
  height: 218px;
  position: relative;
  margin: 20px auto;
  z-index: 1;
}

.banner-container .blur-img {
  width: 580px;
  height: 198px;
  filter: blur(32px);
  position: absolute;
  top: 50%;
  opacity: .2;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  left: 50%;
}

.banner-container .point-nav-container {
  height: 10px;
  font-size: 0;
  text-align: center;
  margin-top: 10px;
}

.banner-container .point-nav-container .point-nav {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #0c0c10;
  cursor: pointer;
  margin: 0 6px;
}

.banner-container .point-nav-container .point-nav-active {
  background: #21c9b7;
}

.banner-container .banner-list {
  width: 660px;
  height: 198px;
  position: relative;
  overflow: hidden;
}

.banner-container .banner-item {
  background: #212933;
  width: 580px;
  height: 198px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  visibility: hidden;
  cursor: pointer;
  opacity: .8;
  /*transition: .32s;*/
}

.banner-container .banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.banner-container .current-item {
  opacity: 1 !important;
  visibility: visible;
  z-index: 3;
  transform-origin: 0;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  transform: translate3d(40px, 0, 0) scale(1);
  -webkit-transform: translate3d(40px, 0, 0) scale(1);
  -moz-transform: translate3d(40px, 0, 0) scale(1);
}

.banner-container .pre-item {
  visibility: visible;
  z-index: 1;
  transform-origin: 0;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  transform: translate3d(0, 0, 0) scale(0.8);
  -webkit-transform: translate3d(0, 0, 0) scale(0.8);
  -moz-transform: translate3d(0, 0, 0) scale(0.8);
}

.banner-container .next-item {
  visibility: visible;
  z-index: 1;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform: translate3d(80px, 0, 0) scale(0.8);
  -webkit-transform: translate3d(80px, 0, 0) scale(0.8);
  -moz-transform: translate3d(80px, 0, 0) scale(0.8);
}

.banner-container .left {
  left: 0;
  background: url("../index/images/banner-btn-arr1.png") 10px 18px no-repeat;
  background-position: center;
}

.banner-container .right {
  right: 0;
  background: url("../index/images//banner-btn-arr.png") 10px 18px no-repeat;
  background-position: center;
}

.slider-btn {
  width: 40px;
  height: 198px;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: .2s;
}

.banner-container:hover .slider-btn {
  opacity: 1 !important;
}

.right-container {
  margin-top: 100px !important;
}

.m3plt-r-container {
  margin-top: 20px !important;
}

.my-game-container {
  margin-top: 20px;
}

.game-server-container {
  margin-top: 30px;
}

/*add by zoe*/
.download-box {
  position: fixed;
  width: 295px;
  height: 409px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.download-box img {
  width: 100%;
  display: block;
}

.recent-game-box {
  position: fixed;
  width: 147px;
  height: 409px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  transition: all .4s 0s;
}

.recent-game-box .recent-box-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.recent-game-box .m3pltGame-box-wrap {
  margin-top: 40px;
}

.recent-game-box .title {
  width: 112px;
  height: 40px;
  border-bottom: 1px solid #2b323d;
  background: url("../index/images/game-ico.png") center no-repeat #212933;
}

.recent-game-box .m3pltGame-title {
  border-top: 1px solid #70788c;
}

.recent-game-box .game-list {
  width: 112px;
  background-color: #212933;
  padding: 25px 0px 2px;
}

.recent-game-box .game-list .game-item {
  margin-bottom: 25px;
}

.recent-game-box .game-list .game-item .game-img {
  width: 80px;
  display: block;
  height: auto;
  margin: 0 auto;
}

.recent-game-box .game-list .game-item .game-name {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
}

.recent-game-box .m3pltGame-game-list {
  border-bottom: 1px solid #70788c;
  border-right: 1px solid #70788c;
}

.recent-game-box .display-btn {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 200px;
  width: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 50px 10px 0px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(90deg, #1fc7b9, #40e38d);
  border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.recent-game-box .display-btn i {
  width: 18px;
  height: 18px;
  background: url("../index/images/more-ico.png") no-repeat;
  display: inline-block;
  margin-top: 7px;
}

.recent-game-box .m3pltGame-display-btn {
  height: 164px;
  font-size: 13px;
}

.recent-game-box-s {
  transform: translate(-300px);
}

.recent-box-wrap-h {
  transform: translateX(0);
}

.sideArrow {
  position: fixed;
  width: 25px;
  height: 70px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto 0;
  cursor: pointer;
}

.sideArrow .arrow {
  width: 100%;
  height: 100%;
  background: url("./images/side-arrow.png") 100% 100% no-repeat;
  background-position: center;
}

@media screen and (max-width: 1600px) {
  .download-box {
    width: 270px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .download-box {
    display: none;
  }
  .recent-game-box {
    width: 111px;
  }
  .recent-game-box .title {
    width: 76px;
  }
  .recent-game-box .m3pltGame-title {
    border-top: 1px solid #70788c;
  }
  .recent-game-box .game-list {
    width: 76px;
  }
  .recent-game-box .game-list .game-item {
    margin-bottom: 20px;
  }
  .recent-game-box .game-list .game-item .game-img {
    width: 48px;
  }
  .recent-game-box .game-list .game-item .game-name {
    font-size: 12px;
  }
}
