<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪电玩H5游戏中心_电魂旗下H5游戏平台</title>
    <meta name="keywords" content="h5游戏,在线游戏,小游戏,轻游戏,手机游戏,微信送话费,电魂,闪电玩h5">
    <meta name="description" content="闪电玩是中国领先的h5小游戏专业网站，免费提供上百款多人小游戏和单机游戏，决战沙城、口袋妖怪、坦克大战、巴比伦塔、原谅帽大作战、小粉龙的跳跃、冒险与推图等类型繁多的精品h5小游戏。">
    <meta name='viewport'
          content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'/>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='index'>
    <meta content='telephone=no' name='format-detection'/>
    <meta content='email=no' name='format-detection'/>
    <meta name='title' content='<%=htmlWebpackPlugin.options.title%>'/>
    <meta name='description' content='description'/>
    <title><%=htmlWebpackPlugin.options.title%></title>
    <script src="https://www.shandw.com/libs/vue.js"></script>
    <script src="https://www.shandw.com/pc/js/libs/q.min.js"></script>
    <script>
        document.write('<script src="https://www.shandw.com/libs/js/minit.min.js?m=' + (+new Date()) + '"><\/script>');
        document.write('<script src="https://www.shandw.com/libs/path.min.js?m=' + (+new Date()) + '"><\/script>');
    </script>

    <script>
        // 百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?69abef1f3836fb670740f4bf7ed68779";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>

        (function () {

            var goToUri = location.href.split('#')[0];
            var checkUrl = SDW_WEB.URLS.addParam({
                datatype: window.DATAITEM,
                goto: goToUri,
                channel: SDW_WEB.channel,
            }, true, SDW_WEB.CHECK_URL);

            SDW_WEB.getUserInfo(null, checkUrl, true);

        })();

    </script>
</head>
<body>

<div id="app" v-cloak class="container">
    <!-- 顶部下载 -->
    <top-download v-if="downloadApp"></top-download>
    <!-- 联系客服 -->
    <div class="contact-container" :style="contactContainer" @click=choseConContainer>
        <top-contact @close-contact="closeContact"></top-contact>
    </div>
    <!-- 顶部栏 -->
    <div class="top-info">
        <home-page-top :usr-info="usrInfo"
         @login-dialog="getDialog" @download-dialog="showDownloadDialog"  @contact-serv="showConDialog" @gift-page="showGiftPage">
        </home-page-top>
    </div>
    <!-- 登录 -->
    <top-login :style="loginShow" @on-login="onLogin" :app="APP" @login-close="loginClose"></top-login>

    <alert-game :url="currentGameUrl" v-on:hide-alert-game="hideMask"></alert-game>

    <!--左边的内容 -->
    <div class="left-container">

        <!--轮播的内容-->
        <div class="banner-container">

            <div class="slider-btn left"></div>
            <div class="slider-btn right"></div>

            <div class="banner-list">

                <!--单个轮播-->
                <a class="banner-item"
                   v-for="item in sliderBanner"
                   :data-img='item.adImg'
                   @click.stop="authToGame(item)">
                    <img :src="item.adImg" class="banner-bg">
                </a>

            </div>

        </div>

        <!--热门游戏的推荐板块-->
        <div class="hot-game-container">

            <div class="title-container">
                <div class="title hot-title">热门游戏推荐</div>

                <a class="more-btn" :href="CLASSIFY_URL"></a>
            </div>

            <!--热门游戏的列表-->
            <div class="hot-game-list" v-if="hotGameListData.length">
                <l-game-item
                        :game-item="item"
                        :games-modal="gamesModal"
                        v-for="item in hotGameListData"
                        @login-dialog="getDialog"
                        @go-detail="gotoDetail"
                ></l-game-item>
            </div>

            <div v-if="!hotGameListData.length" class="data-loading-container">数据加载中...</div>
        </div>


        <!--游戏分类板块-->
        <div class="classify-game-container">

            <!--游戏的分类-->
            <div class="title-container linear-title">

                <div class="title cls-title">

                    <div class="cls-tab"
                         @click.self.stop='clsNavOver(item,"classify")'
                         :class="item.tap?'cls-tab-select':''"
                         v-for="item in clsGameListNav">
                        {{item.title}}
                    </div>

                </div>

                <a class="more-btn" :href="CLASSIFY_URL"></a>
            </div>


            <!--游戏的数据（切换数据+）-->
            <div class="cls-activity-view"
                 :data-type="item.title"
                 :data-curr="currentClsNav"
                 v-show="currentClsNav == item.title"
                 v-for="item in clsGameListNav">
                <s-game-item
                        :game-item="it"
                        :games-modal="gamesModal"
                        @login-dialog="getDialog"
                        @go-detail="gotoDetail"
                        v-for="it in clsGameListData[item.title]"
                ></s-game-item>

            </div>

        </div>

        <!--最新上线的板块-->
        <div class="new-game-container">

            <div class="title-container linear-title">
                <div class="title">最新上线</div>
                <a class="more-btn" :href="CLASSIFY_URL"></a>
            </div>

            <!--热门游戏的列表-->
            <div class="new-game-list">
                <xl-game-item
                        :game-item="item"
                        :games-modal="gamesModal"
                        @login-dialog="getDialog"
                        @go-detail="gotoDetail"
                        v-for="item in lastGameListData"
                ></xl-game-item>
            </div>
        </div>


    </div>

    <!--右边的内容-->
    <div class="right-container">

        <search-input
                v-on:search-btn-fn="searchBtnFn"
        ></search-input>
        <!-- <img src="images/sdw-flash.gif" class="sdw-flash"> -->

        <!-- 新闻资讯 -->
        <div class="news-container">
            <div class="title-container linear-title">
                <div class="title">新闻资讯</div>
                <a class="more-btn" :href='moreNews'></a>
            </div>
            <div class="news-list">
                <news-list :news-list="item" v-for="(item, index) in newsData" v-if="index<4"></news-list>
            </div>
        </div>

        <!--我最近玩过的-->
        <div class="my-game-container" v-if="myGameListData.length">
            <div class="title-container linear-title">
                <div class="title">最近玩过</div>
                <a class="more-btn" :href="myGameUrl"></a>
            </div>


            <!--玩过的游戏列表-->
            <div class="my-game-list-container">
                <a class="my-game-item"
                   v-for="i in myGameListData" @click.stop="authToGame(i)"
                   :title="i.name">
                    <img :src="i.icon" class="my-game-icon">

                    <div class="my-time ellipsis">{{transDate(i.time)}}</div>
                </a>
            </div>
        </div>

        <!--开服的信息-->
        <div class="game-server-container">

            <div class="title-container linear-title">

                <div class="title cls-title">
                    <div class="cls-tab"
                         @click.self.stop='clsNavOver(item,"server")'
                         :class="item.tap?'cls-tab-select':''"
                         v-for="item in serverGameListNav">
                        {{item.name}}
                    </div>
                </div>
                <div class="more-btn" @click.stop.self = "gotoNSever"></div>
            </div>

            <!--开服的游戏列表-->
            <div class="server-game-list-container">

                <!--服务列表的模板-->
                <server-game-item :game-item="i"
                                  :tap="i.tap"
                                  :games-modal="gamesModal"
                                  v-on:on-mouse-over="onMouseOver"
                                  @login-dialog="getDialog"
                                  v-for="i in serverGameListData[currentServerNav]"
                ></server-game-item>

            </div>
        </div>

        <!--礼包信息-->
        <div class="gift-container">

            <div class="title-container linear-title">
                <div class="title">游戏礼包</div>
                <div class="more-btn" @click.stop="goUrl('gift')"></div>
            </div>

            <!--开服的游戏列表-->
            <div class="gift-list-container" v-if="giftListData.length">

                <!--服务列表的模板-->
                <gift-item :game-item="i"
                           :tap="i.tap"
                           v-on:on-mouse-over="onMouseOver"
                           @get-code = "getCode"
                           @got-code = "gotCode"
                           v-for="i in giftListData"
                ></gift-item>

            </div>


            <div v-if="!giftListData.length" class="data-loading-container">数据加载中...</div>
        </div>

    </div>
    <!--游戏收藏列表-->
    <div class="recent-game-box" v-if="gamesModal.gamePlayList.length">
        <div style="width: 100%;height: 100%;position: relative">
            <div class="title"></div>
            <div class="game-list">
                <div class="game-item" v-for="(game,i) in gamesModal.gamePlayList" @click="openAllGames">
                    <img   :src ="game.icon" class="game-img">
                    <div class="game-name">{{game.name}}</div>
                </div>

            </div>
            <div class="display-btn" @click="openAllGames() ">
                展示查看 <i></i>
            </div>
        </div>
    </div>
    <!--下载app-->
    <div class="download-box">
        <img src="images/download-app.png" alt="下载闪电玩APP">
    </div>
    <!-- <games-modal
            :info = 'gamesModal'
    ></games-modal> -->
    <!-- 礼包码 -->
    <div class="gift-code-container" v-if="hidegiftCode">
        <gift-code-mask @hide-code = "hideCode" :gift-code="giftCode"></gift-code-mask>
    </div>
    <tips-dialog :mytips = "mytips" :style="tipPot"></tips-dialog>
    <left-part :info = 'gamesModal' :usr-info='usrInfo' @login-dialog="getDialog"></left-part>
    <right-part :info = 'gamesModal'></right-part>
    <!-- 玩游戏界面礼包码弹窗 -->
    <gift-alert></gift-alert>
</div>
<div id="myOwnTip">eee</div>
</body>


</html>