@import "../../mobile/reset.scss";

@function torem($px) {
  @return $px / 32px * 1rem;
}

@function topx($px) {
  @return $px / 32px * 16px;
}

body {
  background-color: #3b183c;
}

[v-cloak] {
  display: none;
}

#app {
  width: torem(750px);
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 0;
  min-height: torem(200px);
}

.top-info {
  width: torem(715px);
  margin: 0 auto;
  position: relative;
  background: linear-gradient(90deg, #ff591f, #b71960);
  height: torem(64px);
  border-radius: 0 0 torem(32px) torem(32px);
}

.sdw-logo {
  width: torem(206px);
  height: torem(56px);
  background: url("images/sdw-logo.png") center/100% auto;
  margin: torem(35px) auto;
}
